[submodule "pack/myplugins/start/vim-airline"]
	path = pack/myplugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/myplugins/start/gruvbox"]
	path = pack/myplugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/myplugins/start/ale"]
	path = pack/myplugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/myplugins/start/vim-javascript"]
	path = pack/myplugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/myplugins/start/vim-togglecursor"]
	path = pack/myplugins/start/vim-togglecursor
	url = https://github.com/jszakmeister/vim-togglecursor.git
[submodule "pack/myplugins/start/clang_complete"]
	path = pack/myplugins/start/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "pack/myplugins/start/vim-opencl"]
	path = pack/myplugins/start/vim-opencl
	url = git://github.com/petRUShka/vim-opencl.git
[submodule "pack/myplugins/start/editorconfig-vim"]
	path = pack/myplugins/start/editorconfig-vim
	url = git://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/myplugins/start/tagbar"]
	path = pack/myplugins/start/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "pack/myplugins/start/vim-go"]
	path = pack/myplugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/myplugins/start/vim-coffee-script"]
	path = pack/myplugins/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "pack/myplugins/start/Dockerfile.vim"]
	path = pack/myplugins/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "pack/myplugins/start/vim-fugitive"]
	path = pack/myplugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/myplugins/start/jedi-vim"]
	path = pack/myplugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/myplugins/start/dart-vim-plugin"]
	path = pack/myplugins/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "pack/myplugins/start/tern_for_vim"]
	path = pack/myplugins/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "pack/myplugins/start/typescript-vim"]
	path = pack/myplugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/myplugins/start/thrift.vim"]
	path = pack/myplugins/start/thrift.vim
	url = git@github.com:solarnz/thrift.vim.git
