[submodule "pack/myplugins/start/vim-airline"]
	path = pack/myplugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/myplugins/start/gruvbox"]
	path = pack/myplugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/myplugins/start/ale"]
	path = pack/myplugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/myplugins/start/vim-javascript"]
	path = pack/myplugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/myplugins/start/vim-togglecursor"]
	path = pack/myplugins/start/vim-togglecursor
	url = https://github.com/jszakmeister/vim-togglecursor.git
[submodule "pack/myplugins/start/clang_complete"]
	path = pack/myplugins/start/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "pack/myplugins/start/vim-opencl"]
	path = pack/myplugins/start/vim-opencl
	url = git://github.com/petRUShka/vim-opencl.git
[submodule "pack/myplugins/start/editorconfig-vim"]
	path = pack/myplugins/start/editorconfig-vim
	url = git://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/myplugins/start/tagbar"]
	path = pack/myplugins/start/tagbar
	url = git://github.com/majutsushi/tagbar.git
