[submodule "pack/myplugins/start/vim-airline"]
	path = pack/myplugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/myplugins/start/gruvbox"]
	path = pack/myplugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/myplugins/start/ale"]
	path = pack/myplugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/myplugins/start/vim-javascript"]
	path = pack/myplugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
